*{
    margin: 0;
    padding: 0;
}
.nav-button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #0033a0;
    color: white;
    font-family: sans-serif;
}
.nav-button:hover{
    color: lightblue;
}
.navbar {
    background-image: url('your-image-url.jpg'); /* Replace 'your-image-url.jpg' with your image URL */
    background-size: cover; /* Cover size for the background image */
    background-repeat: no-repeat; /* Prevent background image from repeating */
}
.nav-link{
    font-family: sans-serif;
}
.navbar-brand{
    font-family: sans-serif;
    font-weight: 600;
}