*{
    margin: 0;
    padding: 0;
}
.nav-button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #0033a0;
    color: white;
    font-family: sans-serif;
}
.nav-button:hover{
    color: lightblue;
}
.navbar {
    background-size: cover;
    background-repeat: no-repeat; 
}
.nav-link{
    font-family: sans-serif;
}
.navbar-brand{
    font-family: sans-serif;
    font-weight: 600;
}

/*--HOME---*/
#home{
    background-color: #f0f0f0;
    padding: 50px 0;
}
#home.text-part{
    background-color: #ffff;
    padding: 20px;
}
#home .image-part{
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    color: #ffff;

}
/*----END_HOME----*/
.home-image{
    border-radius: 166px !important;
}
.home-text{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 50px;
}
.home-p{
    color: #0033a0;
    font: 500;
}
.home-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #0033a0;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.home-btn:hover{
    color: white;
}